* {
  margin: 0;
box-sizing: border-box;
}

.header__left img {
height: 40px;
}

.user__avatar {
border-radius: 50%;
width: 45px;
}

.header {
padding: 15px 20px;
display: flex;
justify-content: space-between;
position: sticky;
background-color: white;
z-index: 100;
top: 0;
box-shadow: 0 5px 8px -9px rgba(0, 0, 0, 0.75);
}

.header__left {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.header__input {
  display: flex;
  align-items: center;
  background-color: #eff2f5;
  padding: 10px;
  margin-left: 10px;
  border-radius: 999px;
}

.header__input input {
  border: none;
  background-color: transparent;
  outline-width: 0;
}

.header__middle {
  display: flex;
  flex: 1;
  justify-content: center;
}

.header__option .material-icons{
  font-size: xx-large;
  color: grey;
}

.header__option:hover .material-icons {
  color: #2e81f4;
}

.header__option {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0 30px;
}

.header__option.active .material-icons {
  color: #2e81f4;
}

.header__option.active {
  border-bottom: 4px solid #2e81f4;
}

.header__info {
  display: flex;
  align-items: center;
}

.header__right {
  display: flex;
  align-items: center;
}

.header__right .material-icons {
  color: grey;
  margin: 0 10px
}

/* sidebar starts  */

.sidebarRow{
  display: flex;
  align-items: center;
  padding: 10px;
}

.sidebarRow h4{
  margin-left: 20px;

}

.sidebarRow .material-icons {

  font-size: xx-large;
  color: #2e81f4;
}

/* story */
.story {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  width: 120px;
  height: 200px;
  box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  margin-right: 10px;
  transition: transform 100ms ease-in;
  cursor: pointer;
}

.storyReel {
  padding: 10px 0;
  display: flex;
}

.main__body {
  display: flex;
}

.feed {
  display: flex 1;
  padding: 30px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
